.v-application {
  background-color: var(--v-background-base) !important;
}

a.post-author, a.post-recipient {
  text-decoration: none !important;
  color: #cac8c4 !important;
}

a.post-title {
  color: #52f361 !important;
}

a.post-title:hover {
  color: #fff !important;
}

a.comment-link {
  text-decoration: none !important;
  color: #fff !important;
  font-weight: bold;
}

a.comments-link {
  text-decoration: none !important;
  color: #fff !important;
}

a.comment-link:hover, a.comments-link:hover, a.post-recipient:hover {
  text-decoration: none !important;
  color: #fff !important;
}

.post-comment-wrapper {
  background-color: #2e2e2e;
  padding: 10px;
  border-radius: 5px;
}

div.user-profile {
  position: sticky;
  top: 80px;
}